.DS_Store
.venv/

*.pyc
__pycache__/

instance/

*/.pytest_cache/
=======
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.ini

.idea/
feed_amalgamator/.idea
*.log

configuration/
prototypes/
test_config
tests/test_logs
src
pdm.lock
.pdm-python
ruff.toml
.coverage
.ruff_cache
package-lock.json
node_modules
.stylelintrc.json
.eslintrc.js